.main__inner {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    gap: 3%;
}

.page-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    text-align: center;
    height: 10%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    text-align: center;
    height: 20%;
}