.header__inner {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding-bottom: 3%;
    height: 10vh;
}

.header__logo,
.header__search,
.header__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    text-align: center;
    width: 100%;
}
