.button {
  box-sizing: border-box;
  border: none;
  transition: all .3s;
  font-style: normal;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 140%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  gap: 10px;

  &_size {
    &_l {
      height: 60px;
      padding: 20.5px 40px;
    }

    &_m {
      height: 48px;
      padding: 14.5px 40px;
    }

    &_s {
      height: 40px;
      padding: 10.5px 32px;
    }
  }

  &_type_link{
    :hover {
      transition: color .2s;
      color: #FFB629;
    }
  }
}

.button:focus {
  outline: none;
}