.textarea {
    min-height: 122px;
    min-width: 328px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: none;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #000000B2;
    border-radius: 4px;
    color: #0B0B0B;
    padding: 16px 24px;
    outline: none;
    resize: none;

    &_hovered {
        border: 1px solid #0B0B0B;
    }

    &_focused {
        border: 1px solid #0B0B0B;
    }

    &_disabled {
        border: 1px solid #0000004D;
    }

    &_width_available {
        width: 100%;
    }
}

.textarea::placeholder {
    opacity: 0.4;
}