.link {
    cursor: pointer;
    text-decoration: none;
    color: #00000080;
    transition: color .2s;
    &_hovered{
      color: #FFB629;
    }
    &_visited{
      color: #00000080;
    }
    &_active{
      color: #0B0B0B;
    }
}